* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #000000;
    padding: 40px 0;
    text-align: center;
}

.menu {
    display: flex;
    gap: 15px;
}
/* efeito de crecimento no menu do cabeçalho*/
.menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: transform 0.2s ease-in-out;
}

.menu a:hover {
    transform: scale(1.1);
}

/* Alinha o footer com os ícones das mídias sociais */
footer {
    display: flex;
    justify-content: space-between; /* Faz com que fique na mesma posição que o menu */
    align-items: center;
    padding: 10px 20px;
}
header, footer {
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: white;
    color: black;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.text {
    max-width: 500px;
}

h1 {
    font-family: 'Roboto Condensed', serif;
    font-size: 3.0rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: 'Roboto Condensed', serif;
    font-size: 1.5rem;
    color: gray;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-top: 150px;
   
}

.image img {
    width: 400px;
    border-radius: 10px;
}
  
.social-icons {
    display: flex;
    gap: 20px;

    text-align: right;
    margin-top: 20px;
}

.social-icons a {
    color: white;
    font-size: 2.0rem;
    margin: 0 20px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: gray;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    button {
        font-size: 18px;
    }
}

img {

    -webkit-mask-image: radial-gradient(circle, white 50%, transparent 51%);
    mask-image: radial-gradient(circle, white 50%, transparent 51%);

    opacity: 0;
    transform: scale(0.8);
    transition: opacity 1.5s ease-in-out, transform 0.5s ease-in-out;
    transform-origin: center;
}

img.loaded {
    opacity: 1;
    transform: scale(1);
}

img:hover {
    transform: scale(1) rotate(360deg);
}

.pagina-sobre p {
    margin: 0;
    padding: 0;
}


