* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #000000;
    padding: 40px 0;
    text-align: center;
}

.menu {
    display: flex;
    gap: 15px;
}

.menu a { /* efeito de crecimento no menu do cabeçalho*/
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: transform 0.2s ease-in-out;
}

.menu a:hover {
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: space-between; /* Faz com que fique na mesma posição que o menu */
    align-items: center;
    padding: 10px 20px;
}
header, footer {
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: white;
    color: black;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.text {
    max-width: 500px;
}

h1 {
    font-family: 'Roboto Condensed', serif;
    font-size: 3.0rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: 'Roboto Condensed', serif;
    font-size: 1.5rem;
    color: gray;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-top: 150px;
   
}

.image img {
    width: 400px;
    border-radius: 10px;
}
  
.social-icons {
    display: flex;
    gap: 20px;

    text-align: right;
    margin-top: 20px;
}

.social-icons a {
    color: white;
    font-size: 2.0rem;
    margin: 0 20px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: gray;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    button {
        font-size: 18px;
    }
}

img {

    -webkit-mask-image: radial-gradient(circle, white 50%, transparent 51%);
    mask-image: radial-gradient(circle, white 50%, transparent 51%);

    opacity: 1;
    transform: scale(1);
    transition: opacity 1.5s ease-in-out, transform 0.5s ease-in-out;
    transform-origin: center;
}

img.loaded {
    opacity: 1;
    transform: scale(1);
}

img:hover {
    transform: scale(1) rotate(360deg);
}

.sobre-nos .text .main-title {
    padding-left: 80px; 
}

.sobre-nos p {
    margin-top: 15px;   
    margin-bottom: 15px; 

  }

.sobre-nos .text p {
    margin-left: -50px;
}
  
body:not(.pagina-sobre) img:hover {
    transform: scale(1) rotate(360deg); /* Mantém a rotação na página inicial */
}

.pagina-sobre img:hover {
    transform: scale(1.05);  /* Remove a rotação na página sobre */
}

.galeria-container{
    display: flex;
    justify-content: center;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: relative;
    border-radius: 0; 
    z-index: 10; /* Coloca as imagens acima de outros elementos */
}

.galeria img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    opacity: 1;
    position: relative;
    z-index: 11; 
    transform: none;
    transition: transform 0.3s ease-in-out;
    -webkit-mask-image: none; /* Remove a máscara circular no WebKit */
    mask-image: none;
    cursor: pointer;
}
.galeria img:hover {
    transform: scale(1.05);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox img {
    width: 100%;
    height: 100%;
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    object-fit: contain;
}

.pagina-contatos .social-icons {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 60px; 
    margin-top: 20px;
}

.pagina-contatos .contact-item {
    display: flex;
    align-items: center; 
    font-size: 30px;
}

.pagina-contatos .contact-item i {
    margin-right: 20px;
}

.modelos-container {
    text-align: center;
    padding: 20px;
}

.modelos-container .modelos-imagem {
    width: 100%;
    height: auto;
    border-radius: 0;  
    border: none;      
    box-shadow: none;  
    mask-image: none;  
    -webkit-mask-image: none; 
}

.modelos-container img:hover {
    transform: scale(1.05)!important; /* Remove rotação e mantém o aumento de tamanho */
    
}

.grid-modelos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: auto;
}

.modelo {
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.modelo:hover {
    transform: scale(1.05);
}

.modelo img {
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.modelo p {
    color: white;
    font-size: 16px;
    margin-top: 5px;
}

