<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar - Arte Entrelaçada</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@100;700&family=Shadows+Into+Light&display=swap" rel="stylesheet">

</head>
<body class="entrar-conta">
    <header>
        <nav class ="menu">
            <ul>
                <li><a href="index.html">Página Inicial</a></li>
                <li><a href="sobre.html">Sobre Nós</a></li>
                <li><a href="contatos.html">Contato</a></li>
                <li><a href="modelos.html">Modelos</a></li>
                <li><a href="crie-conta.html">Crie sua Conta</a></li>
                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="content">
            <h1 class="entrar-title"> Entrar</h1>
        </section>
    </main>
        
    

    <footer>
        <div class="social-icons">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fas fa-envelope"></i></a>
        </div>
    </footer>
 
<script src="../static/script.js"></script>

</body>
</html>
